@font-face { font-family: "TT Norms"; font-weight: 400; src: url("/code/css/TTNorms-Regular.woff2") format("woff2"); } 
@font-face { font-family: "TT Norms"; font-weight: 500; src: url("/code/css/TTNorms-Medium.woff2") format("woff2"); } 
@font-face { font-family: "TT Norms"; font-weight: 700; src: url("/code/css/TTNorms-Bold.woff2") format("woff2"); } 